<a href="https://colab.research.google.com/github/earo12/Exercises/blob/main/Exersices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Bubble sorting
def order(my_list):
  for recorrido in range(1, len(my_list)):
    for posicion in range(len(my_list) -  recorrido):
      if my_list[posicion] > my_list[posicion + 1]:
        temporal = my_list[posicion]
        my_list[posicion] = my_list[posicion + 1]
        my_list[posicion + 1] = temporal
  return my_list

In [ ]:
lista = [3, 4, 16, 1]
print(order(lista))

[1, 3, 4, 16]

In [ ]:
# Sort a list without fucntion 
def sort_list(my_list):
  for i in range(len(my_list)):
    for j in range(i+1, len(my_list)):
      if my_list[i] > my_list[j]:
        my_list[i], my_list[j] = my_list[j], my_list[i]
  return my_list

In [ ]:
l = [64, 25, 12, 22, 11, 1,2,44,3,122, 23, 34]
print(sort_list(l))

[1, 2, 3, 11, 12, 22, 23, 25, 34, 44, 64, 122]

In [11]:
def is_prime(lower, upper):
  for num in range(lower, upper + 1):
    if num > 1:
      for i in range(2, num):
        if num % i == 0:
          break
      else:
        print(num)

In [12]:
print(is_prime(100, 200))

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
None